@model SeuProjeto.Models.Aluno

@{
    ViewBag.Title = "Cadastro de Aluno";
}

<h2>Formulário de Cadastro de Aluno</h2>

@using (Html.BeginForm("Cadastrar", "Aluno", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        @Html.LabelFor(model => model.Nome)
        <br />
        @Html.TextBoxFor(model => model.Nome)
        <br />
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>

    <br />

    <div>
        @Html.LabelFor(model => model.Email)
        <br />
        @Html.TextBoxFor(model => model.Email)
        <br />
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <br />

    <div>
        @Html.LabelFor(model => model.RA)
        <br />
        @Html.TextBoxFor(model => model.RA)
        <br />
        @Html.ValidationMessageFor(model => model.RA, "", new { @class = "text-danger" })
    </div>

    <br />

    <div>
        @Html.LabelFor(model => model.DataNascimento)
        <br />
        @Html.TextBoxFor(model => model.DataNascimento, new { type = "date" })
        <br />
        @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
    </div>

    <br />

    <button type="submit">Cadastrar</button>
}